@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

// Color Variables

$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$light-grayish-blue: hsl(0, 18%, 97%);
$dark-blue: hsl(229, 31%, 21%);
$soft-blue: hsl(231, 69%, 60%);
$black: #000;
$white: #fff;
$ease-transition: 0.3s ease-in-out;


* {
    font-family: 'Rubik', sans-serif;
}

header {
    nav {
        .container-fluid {
            button {
                background-color: $white;
                border-radius: 4px;
                border-color: rgba(0, 0, 0, 0.2);
            }

            #navbarSupportedContent {            
                ul {
                    #loginButton:hover, #loginButton:active {
                        background-color: $white;
                        border: 1px solid $soft-red !important;
                        cursor: pointer;
                        transition: $ease-transition;

                        a {
                            color: $soft-red !important;
                        }
                    }

                    li {
                        a:hover, a:active {
                            color: $soft-red !important;
                            transition: $ease-transition;
                        }
                    }         
                }
            }
        }
    }
}

main {
    .container {
        .row {
            #getChromeButton:hover, #getChromeButton:active {
                border-color: $soft-blue;
                color: $soft-blue !important;
                transition: $ease-transition;
            }

            #getFirefoxButton:hover {
                border-color: $black;
                transition: $ease-transition;
            }

            .banner-1 {
                position: relative;
            }

            .banner-1::after {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                border-top-left-radius: 624.9375rem;
                border-bottom-left-radius: 624.9375rem;
                bottom: 3%;
                left: 15%;
                height: 74%;
                width: 95%;
                background-color: $soft-blue;
              }

            div {
                button:hover, button:active {
                    border-color: $soft-blue;
                    color: $soft-blue !important;
                    transition: $ease-transition;
                }
            }
        }

        #faqSection {
            div {
                .accordion {
                    .accordion-item {
                        h2 {
                            button:hover, button:active {
                                border-color: $soft-red;
                                color: $soft-red !important;
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    .container-fluid {
        #featuresName {
            div {
                h3 {
                    cursor: pointer;
                    
                    &:hover {
                        color: $soft-red;
                        transition: $ease-transition;
                    }
                }
            }
        }

        .row {
            .banner-2 {
                position: relative;
            }

            .banner-2::after {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                border-top-right-radius: 624.9375rem;
                border-bottom-right-radius: 624.9375rem;
                bottom: -16%;
                right: 25%;
                height: 88%;
                width: 100%;
                background-color: $soft-blue;
              }
            
            div {
                button:hover, button:active {
                    border-color: $soft-blue;
                    color: $soft-blue !important;
                    transition: $ease-transition;
                }
            }
        }
    }
}

footer {
    .container-fluid {
        .row {
            div {
                form {
                    .emailSettings {
                        #emailInput {
                            border-radius: 5px;
                            border-color: transparent;
                            cursor: pointer;
                        }
    
                        #emailInput:hover, #emailInput:active {
                            border: 2px solid $soft-red !important;
                            
                        }
    
                        .emailErrorMessage {
                            color: black;
                            font-weight: 500;
                            background-color: $soft-red;
                            color: $white;
                            font-style: italic;
                            text-align: left;
                            padding-left: 2%;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;

                        }
                    }                    

                    button:hover, button:active {
                        background-color: $white !important;
                        color: $soft-red !important;
                        border: 1px solid $soft-red !important;
                        transition: $ease-transition;
                    }
                }

                ul {
                    li:hover, li:active {
                        color: $soft-red;
                        cursor: pointer;
                    }
                }

                svg:hover path {
                    cursor: pointer;
                    fill: $soft-red;
                    transition: $ease-transition;
                }
            }
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    
    a { 
        color: $soft-red;
    }
}

// Custom style classes
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.color-grayish-blue {
    color: $grayish-blue;
}

.bg-light-grayish-blue {
    background-color: $light-grayish-blue;
}

.bg-soft-blue {
    background-color: $soft-blue;
}

.bg-soft-red {
    background-color: $soft-red;
}

.btn-shadow {
    box-shadow: 0px 4px 8px hsla(231, 69%, 60%, 0.3);
}

.fs-2rem {
    font-size: 2rem;
}

.w-40 {
    width: 40%;
}

.w-70 {
    width: 70%;
}

.shadow-black {
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.text-uppercase {
    text-transform: uppercase;
}

.spacing-5 {
    letter-spacing: 5px;
}

.border-bottom-soft-red {
    border-bottom: 4px solid $soft-red !important;
    transition: 0.3s ease;
}

.mobile-menu {
    background-color: hsla(229, 31%, 21%, 0.9) !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999 !important;

    .mobile-menu-header {
        #crossButton {
            cursor: pointer;
        }
    }

    ul {
        li {
            display: flex !important;
            justify-content: center !important;
            font-size: 1.3rem !important;
            font-weight: 400 !important;
            border-top: 1px solid hsla(229, 8%, 60%, 0.4) !important;
            border-bottom: 1px solid hsla(229, 8%, 60%, 0.4) !important;
            margin: 0 40px !important;
            padding: 10px 0 !important;
            a {
                color: $white !important;
                letter-spacing: 3px !important;
                
            }
        }
        #loginButton {
            margin-top: 30px !important;
            background-color: transparent !important;
            border: 2px solid $white !important;
            margin-left: 20px !important;
            margin-right: 20px !important;  
            letter-spacing: 3px !important;
            font-weight: 500 !important;
        }
    }
}

// Media query - Large Screen (1200px and above)
@media screen and (min-width: 1200px) {
    main {
        .container-fluid {
            .row {  
                .banner-1::after {
                    bottom: -3%;
                    left: 28%;
                    height: 80%;
                    width: 83%;
                  }

                .banner-2 {
                    position: relative;
                }
    
                .banner-2::after {
                    bottom: -16%;
                    right: 25%;
                    height: 88%;
                    width: 100%;
                }  
            }
        }
    }
    
    // Custom style classes

    .fs-lg-3rem {
        font-size: 2.5rem;
    }

    .fs-lg-1rem {
        font-size: 1.1rem;
    }

    .border-bottom-lg-none {
        border-bottom: none !important;
    }

    .h-lg-400 {
        height: 400px;
    }

    .h-lg-500 {
        height: 500px;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .p-lg-2-5 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}