@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

header nav .container-fluid button {
  background-color: #fff;
  border-radius: 4px;
}
header nav .container-fluid #navbarSupportedContent ul #loginButton:hover, header nav .container-fluid #navbarSupportedContent ul #loginButton:active {
  background-color: #fff;
  border: 1px solid hsl(0, 94%, 66%) !important;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .container-fluid #navbarSupportedContent ul #loginButton:hover a, header nav .container-fluid #navbarSupportedContent ul #loginButton:active a {
  color: hsl(0, 94%, 66%) !important;
}
header nav .container-fluid #navbarSupportedContent ul li a:hover, header nav .container-fluid #navbarSupportedContent ul li a:active {
  color: hsl(0, 94%, 66%) !important;
  transition: 0.3s ease-in-out;
}

main .container .row #getChromeButton:hover, main .container .row #getChromeButton:active {
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%) !important;
  transition: 0.3s ease-in-out;
}
main .container .row #getFirefoxButton:hover {
  border-color: #000;
  transition: 0.3s ease-in-out;
}
main .container .row .banner-1 {
  position: relative;
}
main .container .row .banner-1::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-top-left-radius: 624.9375rem;
  border-bottom-left-radius: 624.9375rem;
  bottom: 3%;
  left: 15%;
  height: 74%;
  width: 90%;
  background-color: hsl(231, 69%, 60%);
}
main .container .row div button:hover, main .container .row div button:active {
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%) !important;
  transition: 0.3s ease-in-out;
}
main .container #faqSection div .accordion .accordion-item h2 button:hover, main .container #faqSection div .accordion .accordion-item h2 button:active {
  border-color: hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%) !important;
  transition: 0.3s ease-in-out;
}
main .container-fluid #featuresName div h3 {
  cursor: pointer;
}
main .container-fluid #featuresName div h3:hover {
  color: hsl(0, 94%, 66%);
  transition: 0.3s ease-in-out;
}
main .container-fluid .row .banner-2 {
  position: relative;
}
main .container-fluid .row .banner-2::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-top-right-radius: 624.9375rem;
  border-bottom-right-radius: 624.9375rem;
  bottom: -16%;
  right: 25%;
  height: 88%;
  width: 100%;
  background-color: hsl(231, 69%, 60%);
}
main .container-fluid .row div button:hover, main .container-fluid .row div button:active {
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%) !important;
  transition: 0.3s ease-in-out;
}

footer .container-fluid .row div form button:hover, footer .container-fluid .row div form button:active {
  background-color: #fff !important;
  color: hsl(0, 94%, 66%) !important;
  border: 1px solid hsl(0, 94%, 66%) !important;
  transition: 0.3s ease-in-out;
}
footer .container-fluid .row div ul li:hover, footer .container-fluid .row div ul li:active {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
footer .container-fluid .row div svg:hover path {
  cursor: pointer;
  fill: hsl(0, 94%, 66%);
  transition: 0.3s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 94%, 66%);
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.color-grayish-blue {
  color: hsl(229, 8%, 60%);
}

.bg-light-grayish-blue {
  background-color: hsl(0, 18%, 97%);
}

.bg-soft-blue {
  background-color: hsl(231, 69%, 60%);
}

.bg-soft-red {
  background-color: hsl(0, 94%, 66%);
}

.btn-shadow {
  box-shadow: 0px 4px 8px hsla(231, 69%, 60%, 0.3);
}

.fs-2rem {
  font-size: 2rem;
}

.w-40 {
  width: 40%;
}

.w-70 {
  width: 70%;
}

.shadow-black {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

.bg-dark-blue {
  background-color: hsl(229, 31%, 21%);
}

.red-marker {
  border: 2px solid hsl(0, 94%, 66%);
  width: 40%;
}

.text-uppercase {
  text-transform: uppercase;
}

.spacing-5 {
  letter-spacing: 5px;
}

.border-bottom-soft-red {
  border-bottom: 4px solid hsl(0, 94%, 66%) !important;
  transition: 0.3s ease;
}

.mobile-menu {
  background-color: hsla(229, 31%, 21%, 0.9) !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999 !important;
}
.mobile-menu .mobile-menu-header #crossButton {
  cursor: pointer;
}
.mobile-menu ul li {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  border-top: 1px solid hsla(229, 8%, 60%, 0.4) !important;
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.4) !important;
  margin: 0 40px !important;
  padding: 10px 0 !important;
}
.mobile-menu ul li a {
  color: #fff !important;
  letter-spacing: 3px !important;
}
.mobile-menu ul #loginButton {
  margin-top: 30px !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  letter-spacing: 3px !important;
  font-weight: 500 !important;
}

@media screen and (min-width: 1200px) {
  main .container-fluid .row .banner-1::after {
    bottom: -3%;
    left: 28%;
    height: 80%;
    width: 83%;
  }
  main .container-fluid .row .banner-2 {
    position: relative;
  }
  main .container-fluid .row .banner-2::after {
    bottom: -16%;
    right: 25%;
    height: 88%;
    width: 100%;
  }
  .fs-lg-3rem {
    font-size: 2.5rem;
  }
  .fs-lg-1rem {
    font-size: 1.1rem;
  }
  .border-bottom-lg-none {
    border-bottom: none !important;
  }
  .h-lg-400 {
    height: 400px;
  }
  .h-lg-500 {
    height: 500px;
  }
  .w-lg-25 {
    width: 25% !important;
  }
}/*# sourceMappingURL=main.css.map */