@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.h-15 {
    height: 15px !important;
}

.h-180px {
    height: 180px !important;
}

.fs-10px {
    font-size: 12px;
}

.fw-300 {
    font-weight: 300;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.text-color-black {
    color: #000;
}

.custom-box-shadow1 {
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15)!important;
}

.country-search-input {
    background-image: url("./search-light.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px 20px;
}

.country-search-input-light::placeholder {
    color: #212529;
}

.country-search-input-dark::placeholder {
    color: hsl(0, 0%, 100%);
}

.region-filter-input {
    background-image: url("./down-arrow-light.png");
    background-repeat: no-repeat;
    background-position: 200px center;
    background-size: 10px 10px;
}

.back-button {
    background-image: url("./left-arrow-light.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 20px 20px;
}

.custom-box-shadow2 {
    box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.15)!important;
}

.bg-light-purple {
    background-color: rgb(221, 214, 253);
}

a {
    text-decoration: none;
}

a:hover { 
    color: black;
    text-decoration: underline;
}

.country-card-light:hover {
    border: 2px solid black;
    transition: 0.1s ease;
}

.country-card-dark:hover {
    border: 2px solid #fff;
    transition: 0.1s ease;
}

.toggle-button {
    cursor: pointer;
}

.bg-dark-mode-element {
    background-color: hsl(209, 23%, 22%) !important;
}

.bg-dark-mode-body {
    background-color: hsl(207, 26%, 17%) !important;
}

.dark-mode-text {
    color: hsl(0, 0%, 100%) !important;
}

.color-orange {
    color: orangered;
}

.color-orange:hover {
    color: rgb(227, 107, 64);
    text-decoration: underline;
}

@media (min-width: 992px) {
    .region-filter-input {
        background-position: 92% center;
    }
    
    .flag-size-lg {
        width: 500px !important;
        height: 300px !important;
    }

}