{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container bg-light">
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control shadow p-3 mb-4 bg-body rounded custom-box-shadow1 border-0 country-search-input ps-5" placeholder="Search for a country...">
            </div>
            <div class="col-8 my-2">
                <select name="" id="" class="form-control p-3 mb-4 shadow bg-body rounded custom-box-shadow1 border-0 fw-600 region-filter-input">
                    <option disabled selected value="">Filter by Region</option>
                    <option value="africa">Africa</option>
                    <option value="america">America</option>
                    <option value="asia">Asia</option>
                    <option value="europe">Europe</option>
                    <option value="oceania">Oceania</option>
                </select>
            </div>
        </div>
        <div class="row">
            {% for item in data %}
            <a class="col-12 text-decoration-none text-color-black" href="/{{ item['name'] }}">
                <div class="card mx-auto mb-5" style="width: 18rem;">
                    <img src="{{ item['flag'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-800">{{ item["name"] }}</h5>
                        <p><strong>Population:</strong> {{ item["population"] }}</p>
                        <p><strong>Region:</strong> {{ item["region"] }}</p>
                        <p><strong>Capital</strong> {{ item["capital"] }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
