@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.container main .results-container {
  background-color: #fff;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.container main .results-container .result {
  background-image: linear-gradient(hsl(252, 100%, 67%) 5%, hsl(241, 81%, 54%));
  width: 300px;
  height: 400px;
  border-radius: 25px;
  border-color: hsl(241, 81%, 54%);
}
.container main .results-container .result_heading {
  text-align: center;
  font-size: 10px;
  margin: 20px;
  color: hsl(241, 100%, 89%);
}
.container main .results-container .result_circle_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container main .results-container .result_circle_container .result_circle {
  background-image: linear-gradient(hsl(256, 72%, 46%) 80%, hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container main .results-container .result_circle_container .result_circle_1 {
  font-size: 60px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
.container main .results-container .result_circle_container .result_circle_2 {
  font-weight: 500;
  font-size: 14px;
  color: hsl(241, 100%, 89%);
}
.container main .results-container .result_message_1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 30px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
}
.container main .results-container .result_message_2 {
  text-align: center;
  font-size: 14px;
  margin: 0 25px;
  color: hsl(241, 100%, 89%);
  padding: 0 25px;
  font-weight: 500;
}
.container main .results-container .summary {
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 25px;
}
.container main .results-container .summary_heading {
  font-size: 18px;
  font-weight: 800;
  margin: 20px;
}
.container main .results-container .summary_reaction, .container main .results-container .summary_memory, .container main .results-container .summary_verbal, .container main .results-container .summary_visual {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container main .results-container .summary_reaction {
  background: hsla(0, 100%, 67%, 0.1);
  height: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.container main .results-container .summary_reaction_1 {
  display: flex;
}
.container main .results-container .summary_reaction_1 img {
  width: 16px;
  margin-left: 15px;
}
.container main .results-container .summary_reaction_1 span {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}
.container main .results-container .summary_reaction_2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-right: 10px;
}
.container main .results-container .summary_reaction_2 span {
  color: #000;
}
.container main .results-container .summary_memory {
  background: hsla(39, 100%, 56%, 0.1);
  height: 45px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.container main .results-container .summary_memory_1 {
  display: flex;
}
.container main .results-container .summary_memory_1 img {
  width: 16px;
  margin-left: 15px;
}
.container main .results-container .summary_memory_1 span {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}
.container main .results-container .summary_memory_2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-right: 10px;
}
.container main .results-container .summary_memory_2 span {
  color: #000;
}
.container main .results-container .summary_verbal {
  background: hsla(166, 100%, 37%, 0.1);
  height: 45px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.container main .results-container .summary_verbal_1 {
  display: flex;
}
.container main .results-container .summary_verbal_1 img {
  width: 16px;
  margin-left: 15px;
}
.container main .results-container .summary_verbal_1 span {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}
.container main .results-container .summary_verbal_2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-right: 10px;
}
.container main .results-container .summary_verbal_2 span {
  color: #000;
}
.container main .results-container .summary_visual {
  background: hsla(234, 85%, 45%, 0.1);
  height: 45px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 35px;
}
.container main .results-container .summary_visual_1 {
  display: flex;
}
.container main .results-container .summary_visual_1 img {
  width: 16px;
  margin-left: 15px;
}
.container main .results-container .summary_visual_1 span {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
  font-size: 14px;
  margin-left: 8px;
}
.container main .results-container .summary_visual_2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 14px;
  margin-right: 10px;
}
.container main .results-container .summary_visual_2 span {
  color: #000;
}
.container main .results-container .summary_continue {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main .results-container .summary_continue button {
  cursor: pointer;
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 15px 0;
  border-radius: 25px;
  width: 86%;
}
.container main .results-container .summary_continue button:hover, .container main .results-container .summary_continue button:active {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.container footer {
  display: flex;
  position: absolute;
  bottom: 0px;
}
.container footer .attribution {
  font-size: 11px;
}
.container footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 412px) {
  .container {
    height: 100vh;
    width: 100vw;
  }
  .container main .results-container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container main .results-container .result {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100vw;
  }
  .container main .results-container .result_message_2 {
    margin-bottom: 20px;
  }
  .container main .results-container .summary {
    width: 100vw;
  }
  .container main .results-container .summary_continue button {
    width: 90%;
  }
  .container footer {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */