* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}
body {
  background-color: #F0F0F0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .main {
  background-color: #fff;
  width: 340px;
  margin: 0 auto;
  height: 400px;
  position: absolute;
  top: 200px;
  border-radius: 15px;
  border-bottom-right-radius: 70px;
}
.container .main .date {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  text-align: center;
}
.container .main .date label {
  color: #969696;
  display: block;
  font-family: "Poppins-Bold";
  font-size: 18px;
  text-align: left;
  padding-left: 6px;
}
.container .main .date .day, .container .main .date .month, .container .main .date .year {
  display: inline-block;
  width: 84px;
}
.container .main .date .day input, .container .main .date .month input, .container .main .date .year input {
  width: 80px;
  height: 46px;
  border: 1px solid #969696;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}
.container .main .date .day input::-moz-placeholder, .container .main .date .month input::-moz-placeholder, .container .main .date .year input::-moz-placeholder {
  font-family: "Poppins-Bold";
  font-size: 18px;
}
.container .main .date .day input::placeholder, .container .main .date .month input::placeholder, .container .main .date .year input::placeholder {
  font-family: "Poppins-Bold";
  font-size: 18px;
}
.container .main section {
  padding-top: 20px;
}
.container .main section .age {
  padding-left: 15px;
}
.container .main section .age_number {
  color: #7D50FA;
  font-family: "Poppins-ExtraBoldItalic";
  font-size: 44px;
}
.container .main section .age_text {
  color: #000;
  font-family: "Poppins-ExtraBoldItalic";
  font-size: 44px;
}
.container .main .line {
  content: "";
  display: block;
  position: absolute;
  top: 138px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #969696;
}
.container .main .purple-icon {
  background-color: #7D50FA;
  border: 2px solid #7D50FA;
  border-radius: 80px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
.container .main .purple-icon .leaf {
  margin-top: 18px;
  margin-left: 7px;
  box-shadow: 0 0.5px 0 1px white;
  transform: rotate(90deg);
  width: 22px;
}
.container .main .purple-icon .leaf::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 0;
  box-shadow: 5px 8px 0 1px white;
  transform: rotate(135deg);
  translate: 18px 8px;
  border-radius: 50%;
}
.container .main .purple-icon .leaf::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 0;
  box-shadow: 5px 8px 0 1px white;
  transform: rotate(225deg);
  translate: 6px 3px;
}
.container .attribution {
  position: absolute;
  bottom: 2px;
  font-size: 8px;
  text-align: center;
}
.container .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */