@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
$grayish-blue: hsl(210, 4%, 67%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$yellow: hsl(51, 100%, 49%);
$yellow-gradient: hsla(51, 100%, 49%, 0.3);
$white: hsl(0, 0%, 100%);
$soft-red-gradient: hsla(7, 99%, 70%, 0.3);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$dark-light-cyan: #90D4C5;
$dark-blue: hsl(198, 62%, 26%);


.header-background {
    background-image: url("../images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.apple-background {
    background-image: url("../images/mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.orange-background {
    background-image: url("../images/mobile/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-barlow {
    font-family: 'Barlow', sans-serif;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.spacing-5 {
    letter-spacing: 5px;
}

.spacing-8 {
    letter-spacing: 8px;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.color-grayish-blue {
    color: $grayish-blue;
}

.yellow-gradient-button {
    background-image: linear-gradient($white 50%, $yellow-gradient);
}

.softred-gradient-button {
    background-image: linear-gradient($white 50%, $soft-red-gradient);
}

.color-dark-desaturated-cyan {
    color: $dark-desaturated-cyan;
}

.color-dark-blue {
    color: $dark-blue;
}

.color-dark-grayish-blue {
    color: $dark-grayish-blue;
}

.bg-color-dark-light-cyan {
    background-color: $dark-light-cyan;
}

.bg-color-yellow {
    background-color: $yellow;
}

.mt-400 {
    margin-top: 400px;
}

.h-400 {
    height: 400px;
}

.h-600 {
    height: 600px;
}

.navbar-nav {
    position: fixed;
    top: 80px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
    z-index: 9999;
    transform: translateY(-200%);
    transition: all 1s ease-in-out !important;
}

.navbar-nav.open {
    transform: translateY(0);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-bottom: 50px solid hsl(0, 0%, 100%);
    position: absolute;
    right: 0;
    top: -18%;
  }