@import "defaults";
@import "variables";
@import "fonts";


body {
    background-color: $primary-color;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main {
        background-color: $secondary-color;
        width: 340px;
        margin: 0 auto;
        height: 400px;
        position: absolute;
        border-radius: 15px;
        border-bottom-right-radius: 70px;
    
        .date {
            display: flex;
            justify-content: space-around;
            padding-top: 25px;
            text-align: center;

            label {
                color: $font-tertiary;
                display: block;
                font-family: "Poppins-Bold";
                font-size: 11px;
                text-align: left;
                padding-left: 6px;
            }

            .day, .month, .year {
                display: inline-block;
                width: 100px;

                input {
                    width: 90px;
                    height: 46px;
                    border: 1px solid $font-tertiary;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 18px;
                    background-color: $secondary-color;
                    font-family: "Poppins-Bold";
                }

                input::placeholder {
                    font-family: "Poppins-Bold";
                    font-size: 18px;
                }

                span {
                    color: $alert-color;
                    font-size: 7px;
                    font-style: italic;
                    visibility: hidden;
                    font-family: "Poppins-Regular";
                }
            }
        }

        section {
            padding-top: 15px;
            
            .age {
                padding-left: 15px;
                &_number {
                    color: $font-secondary;
                    font-family: "Poppins-ExtraBoldItalic";
                    font-size: 44px;
                }
                &_text {
                    color: $font-primary;
                    font-family: "Poppins-ExtraBoldItalic";
                    font-size: 44px;
                }            
            }
        }
    
        .line {
            content: "";
            display: block;
            position: absolute;
            top: 148px; 
            left: 0;
            right: 0;
            height: 1px;
            background-color: $font-tertiary;
        }
    
        .purple-icon {
            background-color: $font-secondary;
            border: 2px solid $font-secondary;
            border-radius: 80px;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 28px;
                height: 28px;
            }

        }
    }

    .attribution { 
        position: absolute;
        bottom: 2px;
        font-size: 8px; text-align: center; 
        a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        .main {
            width: 500px;
            height: 440px;
            border-radius: 25px;
            border-bottom-right-radius: 170px;

            .date {
                justify-content: flex-start;
                padding-left: 25px;

                .month, .year {
                    margin-left: 25px;
                }
            }

            section {
                padding-top: 4px;
                .age {
                    padding-left: 35px;
                    &_number {
                        color: $font-secondary;
                        font-family: "Poppins-ExtraBoldItalic";
                        font-size: 48px;
                    }
                    &_text {
                        color: $font-primary;
                        font-family: "Poppins-ExtraBoldItalic";
                        font-size: 48px;
                    }            
                }
            }

            .line {
                top: 145px; 
            }

            .purple-icon {
                border-radius: 80px;
                width: 70px;
                height: 70px;
                margin-left: 385px;

                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }
}